{% extends "base_generic.html" %}

{% block title %}
    <title>Organiser Events</title>
{% endblock %}

{% block content %}
    <h1>Organiser Events</h1>
    <div class="event-container">
        {% for event in events %}
            <div class="event">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="events">
                {% endif %}
                <h2><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></h2>
                <p><strong>Date:</strong> {{ event.date }}</p>
                <p><strong>Time:</strong> {{ event.time }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
                <p><strong>Description:</strong> {{ event.description }}</p>
                <p><strong>Category:</strong> <a href="{% url 'category_events' event.category.pk %}">{{ event.category }}</a></p>
                <p><strong>Organiser:</strong> {{ event.organiser }}</p>
            </div>
        {% empty %}
            <p>No events available for this organiser</p>
        {% endfor %}
    </div>
{% endblock %}
